/* Setup */
/* @import './setup/vars.css'; */
/* @import './setup/font-face.css'; */

/* /~ Basic ~/ */
/* @import './basic/base.css'; */
@import 'cssStyle/basic/buttons.css';
@import 'cssStyle/componnets.css';
@import 'cssStyle/setup/font-face.css';

@import 'cssStyle/basic/base.css';
@import 'cssStyle/basic/helpers.css';
@import 'cssStyle/basic/layout.css';
/* @import './basic/icons.css'; */
/* @import './basic/helpers.css'; */
/* @import './basic/layout.css'; */

/* /~ Cmps ~/ */
/* @import './cmps/header.css'; */
/* @import './cmps/main-content.css'; */
/* @import './cmps/modal.css'; */
/* @import './cmps/dropdown.css'; */
/* @import './cmps/footer.css'; */



.logo , .main-nav{
    font-family: Dancing;
    font-size: 2rem;
}

/* Components */
.main-header .main-nav li:not(:last-child){
    margin-inline-end: 60px;
}
.main-header{
    height: 10rem;
}


.image-gallery > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery{
    display: grid;
    grid-template-columns: repeat(var(--num-cols-mobile),1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gapImage);
}

.meme-editor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: antiquewhite;
    gap: 1rem;
    grid-template-areas:
    "image-section  option-section";
    height: 70vh;
}
.canvas-container{
    grid-area: image-section;
}
.all-options{
    grid-area: option-section;
}

.input-line{
    width: 100%;
}
input::placeholder {
    color: #B4886B;
    font-family: Dancing;
    font-size: 2rem;
}
.item{
    margin-bottom: 1rem;
}

.all-options{
    margin-left: 30px;
}


/* Media Queries */
/* For Mobile */

/* For Tablet */
@media(min-width :940px){
    body{
        background-color: rgb(125, 203, 203);
    }
    .image-gallery{
        grid-template-columns: repeat(var(--num-cols-tablet),1fr);
    }

}
/* For Web */
@media(min-width: 1100px){
    body{
        background-color: rgb(238, 149, 227);
    }
    .image-gallery{
        grid-template-columns: repeat(var(--num-cols-web),1fr);
    }
}


/*ICONS */

.icons-containter{
    border: 3px #B4886B solid;

}
.icon{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.icon-inside{
    height: 30px;

}

